@import "typography";

body{
	background: #ecf0f1;
	padding: 0;
	margin: 0;
}

table{
	border-collapse: collapse;
	width: 80%;
	background-color: #d7dbdd;
	border: none;
	margin: auto;
}

td, th {
	text-align: center;
	padding: 8px;
	color: #333;
}

th{
	color: #e74c3c;
	font-weight: bold;
}

.header_wrapper{
	height: 80px;
	color: #eee;
	background-color: #e74c3c;
}

.header_area{
	
	height: 80px;
	width: 80%;
	margin: auto;
}

.header_links{
	&{
		list-style-type: none;

	}

	&.header_item{
		width: 60%;
		float: left;
	}

	a.header_links{
		color: white;
		text-decoration: none;
	}
}

.header_item{
	display: block;
}

footer{
	background-color: #e74c3c;
	color: #d7dbdd;
	text-align: center;
	margin-bottom: 0;

	&>.h6{
		margin-bottom: 0;
	}
}